In [1]:
import pandas as pd

In [2]:
culture=pd.read_csv('E:/nbn/Culture_topic.csv',encoding='utf-8')

In [3]:
finance=pd.read_csv('E:/nbn/Finance_Topic.csv',encoding='utf-8')
medical=pd.read_csv('E:/nbn/Medical_Topic.csv',encoding='utf-8')
politics=pd.read_csv('E:/nbn/Politics_Topic.csv',encoding='utf-8')
religion=pd.read_csv('E:/nbn/Religion_Topic.csv',encoding='utf-8')
sports=pd.read_csv('E:/nbn/Sports_Topic.csv',encoding='utf-8')
tech=pd.read_csv('E:/nbn/Tech_Topic.csv',encoding='utf-8')

In [4]:
culture.head()

                                                text    label
0  يحيي كل من العروسي وعواطف وعمار والعنبري أمجاد...  Culture
1  أخبارنا المغربية ـ هدى جميعي\nتحول فنان مغربي ...  Culture
2  بالفيديو : الفنان الشعبي العمري يتهم الداودي و...  Culture
3  عبدالاله بوسحابة : اخبارنا المغربية\nعلمنا في ...  Culture
4  أخبارنا المغربية : حنان سلامة\nكعادته كلما تعل...  Culture

In [5]:
finance.head()

                                                text   label
0  نورالدين ثلاج-أخبارنا المغربية\nاحتجت المعارضة...  Finace
1  أخبارنا المغربية : إلهام آيت الحاج\nيبدو أن تخ...  Finace
2  أخبارنا المغربية ــ متابعة\n \nأيام قليلة،‮ ‬و...  Finace
3  أخبارنا المغربية \nأمرت جهات عليا بتوقيف مشاري...  Finace
4  أخبارنا المغربية ـ محمد اسليم   \nأكد عبد الله...  Finace

In [6]:
politics.head()

                                                text     label
0  شباط : بنكيران ربط استمرارية حكومته بإلغاء محض...  Politics
1  أخبارنا المغربية : سناء الوردي\nذكرت مصادر صحا...  Politics
2  متابعة : يونس الشيخ\nأكد اوبير فيردن، عضو الحز...  Politics
3  أخبارنا المغربية:أبو فراس\nيدافع مجموعة من الب...  Politics
4  "البـام" يطالب بتحقيق قضائي بسبب تشكيك "البيجي...  Politics

In [7]:
medical.head()

                                                text    label
0  شكّل اكتشاف زمر الدم الأربعة في مطلع القرن الم...  Medical
1  وجدت دراسة جديدة أن المشي لمدة 30 دقيقة أسبوعي...  Medical
2  أفادت مجلة "إيلي" الألمانية بأن الأغذية البنفس...  Medical
3  للرجال الذين يودون دخول مضمار الأبوة عليهم أن ...  Medical
4  "مضغ العلكة ثلاث مرات في اليوم"، تبدو هذه العب...  Medical

In [8]:
sports.head()

                                                text   label
0  \nأخبارنا المغربية:\nأعلن فيرناندو سانتوس، مدر...  Sports
1  أخبارنا المغربية : علاء المصطفاوي\nبعدما كثر ا...  Sports
2  أخبارنا المغربية:\nأعلن فيرناندو سانتوس، مدرب ...  Sports
3  فضيحة مالية جديدة تهز برشلونة و السبب دائما ني...  Sports
4  الاتحاد الإسباني يضع حكم مباراة ريال مدريد وال...  Sports

In [9]:
religion.head()

                                                text     label
0  صيام الفوائت\nزوجتي حامل وعليها بعض الأيام من ...  Religion
1  الحمد لله، والصلاة والسلام على رسول الله، وآله...  Religion
2  من نوائب الدهر في عصرنا الحالي الغُلو في المهو...  Religion
3  سار الخلفاء الراشدون على هدي النبي صلى الله عل...  Religion
4  هل سبق أن قرأتم عن شيطان العين ؟ موضوع مهم يست...  Religion

In [10]:
tech.head()

                                                text label
0  أطلقت خدمة التراسل الفوري واتساب، اليوم الجمعة...  Tech
1  حصلت شركة سامسونغ على حق براءة اختراع جديدة لآ...  Tech
2  ظهر تطبيق جديد للأجهزة الذكية التي تعمل بنظام ...  Tech
3  أشارت بوابة الاتصالات الألمانية "هايزه.دي" إلى...  Tech
4  الان يمكنكم تحميل تطبيق "أخبارنا" الخاص بهواتف...  Tech

In [31]:
real_news=pd.concat([culture,finance,medical,religion,sports,tech,politics])
len(real_news)

78428

In [32]:
real_news.head()

                                                text    label
0  يحيي كل من العروسي وعواطف وعمار والعنبري أمجاد...  Culture
1  أخبارنا المغربية ـ هدى جميعي\nتحول فنان مغربي ...  Culture
2  بالفيديو : الفنان الشعبي العمري يتهم الداودي و...  Culture
3  عبدالاله بوسحابة : اخبارنا المغربية\nعلمنا في ...  Culture
4  أخبارنا المغربية : حنان سلامة\nكعادته كلما تعل...  Culture

In [33]:
real_news.tail()

                                                    text     label
13974  نورالدين ثلاج- أخبارنا المغربية\n بعد الخطاب ا...  Politics
13975  أخبارنا المغربية ــ جمال مايس\nيبدو أن عادل بن...  Politics
13976  ذ. عبد الصمد الكطابي\n\nكانت مدينة القصر الكبي...  Politics
13977  قال الوزير المنتدب المكلف بالعلاقات مع البرلما...  Politics
13978  أخبارنا المغربية: علاء المصطفاوي\nخرج وزير الت...  Politics

# Shuffle df

In [34]:
from sklearn.utils import shuffle
real_news=shuffle(real_news)

In [35]:
real_news.head()

                                                    text    label
383    اقترح علماء في مدينة نوفوسيبيرسك الروسية طريقة...  Medical
11967  أطلقت خدمة التراسل المصور سناب شات أمس الجمعة،...     Tech
7301   تجتاح حمى لعبة "بوكيمون غو" العالم أجمع بما في...     Tech
8232   أخبارنا المغربية :الدار البيضاء\n \nبات ملف ال...   Finace
182    عبدالاله بوسحابة : اخبارنا المغربية\nبعد أن ان...  Culture

In [36]:
real_news=shuffle(real_news)
real_news.head()

                                                    text     label
3764   الإيحاء بالغضب \nكان النبي صلى الله عليه وسلم،...  Religion
1865   قال وزير التجهيز والنقل السيد عزيز رباح، اليوم...    Finace
2627   أعلن الاتحاد الفرنسي للتنس، برنار جيوديسيلي أن...    Sports
11298  بلاغ عاجل من الداخلية ..النتائج النهائية الرسم...  Politics
4863   كشف قيادي في العدالة والتنمية وجود حرب غير معل...  Politics

# cleaning data from tags and non Arabic letter

In [37]:
import re
text=real_news['text'][100]

In [38]:
text

100    يستعد المغرب لتنفيذ تعويم تدريجي لعملته الدرهم...
100    أوضح موقع صحيفة "نيويورك تايمز" أن عملاق التوا...
100    جرت سُنَّة الله تعالى كما قضت حكمته أن يجعل مع...
100    أخبارنا المغربية - عبد الرحيم القــاسمي\nأفاد ...
100    قلب فريق برشلونة تأخره بهدف أمام مضيفه خيتافي ...
100    الاكتئاب من أكثر المشاكل النفسية شيوعاً، خاصة ...
100    أخبارنا المغربية \nبعد الاستغناء عن خدمات الفن...
Name: text, dtype: object

> fill null values and reset indexs

In [41]:
real_news=real_news.sample(frac=1).reset_index(drop=True)
real_news.head()

                                                text     label
0  سحبت شركة غوغل في خطوة مفاجئة خدمة يوتيوب الشه...      Tech
1  عاد لاعب باريس سان جيرمان، البرازيلي نيمار دا ...    Sports
2  أخبارنا المغربية ـ متابعة\n \nفي أول رد للبرلم...  Politics
3  شيرين تتهرب من المؤتمر الصحفي لمهرجان تطوان و ...   Culture
4  منظمو أولمبياد طوكيو 2020 يطالبون بالتبرع باله...    Sports

In [60]:
real_news=real_news.fillna(" ")

In [61]:
text=real_news['text'][702]
text

' '

In [62]:
text=re.sub('[A-Za-z\W]',' ',text)
text

' '

In [66]:
cleaned_data=[]
for index in range(0,len(real_news)):
    
    text=real_news['text'][index]
    
    text=re.sub('[A-Za-z\W]',' ',text)
    cleaned_data.append(text)
    real_news['text'][index]=text

In [65]:
len(cleaned_data)

78428

In [67]:
real_news.head()

                                                text     label
0  سحبت شركة غوغل في خطوة مفاجئة خدمة يوتيوب الشه...      Tech
1  عاد لاعب باريس سان جيرمان  البرازيلي نيمار دا ...    Sports
2  أخبارنا المغربية ـ متابعة   في أول رد للبرلمان...  Politics
3  شيرين تتهرب من المؤتمر الصحفي لمهرجان تطوان و ...   Culture
4  منظمو أولمبياد طوكيو 2020 يطالبون بالتبرع باله...    Sports

In [68]:
real_news.to_csv('all_topics.csv',index=False,encoding='utf-8')

In [76]:
fake_news=pd.read_csv('E:/nbn/fake-news.csv',encoding='utf-8')

In [77]:
fake_news.head()

   Unnamed: 0                                               text Label
0           0   تحليل  السيسي الرقم الصعب فى مؤتمر العشرين  ا...  fake
1           1  طالب توجيهي يكتشف حبه لمتابعة النشرة الاقتصادي...  fake
2           2  عانس تجد عريسا  رغم بلوغها سن الرابعة والعشرين...  fake
3           3     التنمية  لم نضبط متسولين بأول أيام رمضان با...  fake
4           4  شاب ينزعج من خبر تفجير رغم وقوعه كالمعتاد في ب...  fake

In [78]:
del fake_news['Unnamed: 0']
fake_news.head()

                                                text Label
0   تحليل  السيسي الرقم الصعب فى مؤتمر العشرين  ا...  fake
1  طالب توجيهي يكتشف حبه لمتابعة النشرة الاقتصادي...  fake
2  عانس تجد عريسا  رغم بلوغها سن الرابعة والعشرين...  fake
3     التنمية  لم نضبط متسولين بأول أيام رمضان با...  fake
4  شاب ينزعج من خبر تفجير رغم وقوعه كالمعتاد في ب...  fake

In [79]:
fake_news=fake_news.fillna(' ')

In [80]:
cleaned_data=[]
for index in range(0,len(fake_news)):
    
    text=fake_news['text'][index]
    
    text=re.sub('[A-Za-z\W]',' ',text)
    cleaned_data.append(text)
    fake_news['text'][index]=text

In [91]:
fake_news.head()
del fake_news['Label']
fake_news['label']='fake'

In [92]:
fake_news.head()

                                                text label
0   تحليل  السيسي الرقم الصعب فى مؤتمر العشرين  ا...  fake
1  طالب توجيهي يكتشف حبه لمتابعة النشرة الاقتصادي...  fake
2  عانس تجد عريسا  رغم بلوغها سن الرابعة والعشرين...  fake
3     التنمية  لم نضبط متسولين بأول أيام رمضان با...  fake
4  شاب ينزعج من خبر تفجير رغم وقوعه كالمعتاد في ب...  fake

In [93]:
fake_news.to_csv('fake-news.csv',index=False,encoding='utf-8')

In [84]:
len(real_news)

78428

In [85]:
len(fake_news)

6673

In [86]:
real_news=real_news[:6673]

In [87]:
len(real_news)

6673

In [88]:
real_news['label']='real'

<ipython-input-88-3290d0fad767>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  real_news['label']='real'

In [89]:
real_news.head()

                                                text label
0  سحبت شركة غوغل في خطوة مفاجئة خدمة يوتيوب الشه...  real
1  عاد لاعب باريس سان جيرمان  البرازيلي نيمار دا ...  real
2  أخبارنا المغربية ـ متابعة   في أول رد للبرلمان...  real
3  شيرين تتهرب من المؤتمر الصحفي لمهرجان تطوان و ...  real
4  منظمو أولمبياد طوكيو 2020 يطالبون بالتبرع باله...  real

In [90]:
real_news.to_csv('real-news.csv',index=False,encoding='utf-8')